type: "SNIPPET_NOTE"
folder: "f897875457b36f17e52e"
title: "网络操作代码片段"
description: "网络操作代码片段"
snippets: [
  {
    name: "Ftp 基本操作"
    mode: "Python"
    content: '''
      # Python 在 ftplib 中封装了 FTP 相关的操作
      from ftplib import FTP
      
      ftp = FTP('100.100.0.80')
      ftp.login('ftpuser', 'ftpuser')
      bufsize = 1024
      with open(ffile, 'rb') as file_handler:
      	ftp.storbinary('STOR %s' % os.path.basename(ffile), file_handler, bufsize)
      ftp.quit()
      return 'File upload ok!'
    '''
  }
]
tags: []
isStarred: false
createdAt: "2017-11-30T08:02:07.562Z"
updatedAt: "2017-11-30T09:11:24.557Z"
