type: "MARKDOWN_NOTE"
folder: "f70239a7f39d8eb21556"
title: "租后变更审核信息回写BUG修正方案讨论"
content: '''
  # 租后变更审核信息回写BUG修正方案讨论
  
  ## 问题描述
  系统中11号合同在10月31日发起租后变更审核操作，11月份单据审核完成，在单据审核期间，进行利息计提操作，导致审核通过信息回写时计划计提利息额与实际计提利息额不符。
  
  ## 初步解决方案
  ### 方案一
  当存在审核中的合同租后变更单据时，做计提相关的操作时应提醒存有审核中的单据，不可进行计提操作。
  - 方案优点：可以确保系统数据的正确性；
  - 方案缺点：影响利息计提操作的时效性；
  
  ### 方案二
  单据审核到最后一步时，校验数据是否已经发生变化，如果已发生数据变化不进行回写，并提示数据发生变更，单据作废，重新发起变更申请，
  - 方案优点：可以确保系统数据的正确性；
  - 方案缺点：增加合同租后变更操作的工作量 ；
  
  ### 方案三
  当存有审核中的合同租后变更单据时，做计提操作时将审核中的单据过滤暂不做计提，待审核中的单据完成审核后，在进行计提操作。
  - 方案优点：可以确保系统数据的正确性；
  - 方案缺点：影响利息计提操作的时效性；
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-15T07:05:25.395Z"
updatedAt: "2017-12-15T07:50:17.702Z"
