type: "MARKDOWN_NOTE"
folder: "1f0ac33872368efb4f31"
title: "2017-12-14"
content: '''
  # 2017-12-14
  Recently was not good for me as my son was sick again, I had to take care of him all night.
  Anyway, I must contiue my studying, otherwise， I am afraid I would be abandon by the world.
  
  今天上班路上思考了一下如何继续量化的路，回想起来，我之所以选择量化，根本原因是我要学习机器学习，但其他的人工智能领域（如声音识别和图像识别等）都有一个数据来源的问题，而金融领域则有大量的数据可供使用，同时，现在也在这个行业中，因此量化是一个很好的切入点。
  
  昨天也看到新闻，Google重新在中国开始招聘了，主要招聘AI从业人员，想想我还是应该继续完成在优达学城上的课程，争取获得一个证书，既然短期内不考虑MBA了，那就努力挣多几个 IT 证书，微软的 Azure 证书看起来含金量也不低。
  
  而关于量化，现在的思路是看能不能把它作为一个课题，先列出一个大纲，以写论文的方式完成一篇文章，总览涉及的领域、技术、趋势等，期望在这个过程中能增加自己对量化的认识。
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-14T02:00:58.454Z"
updatedAt: "2017-12-14T02:16:40.860Z"
