type: "MARKDOWN_NOTE"
folder: "3b32cab003a1db861645"
title: "租赁业务系统功能调研"
content: '''
  # 租赁业务系统功能调研
  
  ## 租赁管理平台
  
  
  ## 租赁业务平台
  
  ### 客户管理
  #### 客户信息填写
  ##### 客户基本信息
  1. 基本情况
  - 业务领域
  > 分类依据来自哪？对后续报表统计是否会有影响？如何配置？
  > 业务领域选择中的编号有什么影响？
  
  2. 客户规模信息
  - 企业规模
  > 根据什么条件自动判断？
  
  3. 客户证件信息
  - 证件类型
  > 为什么不能选非信用代码的证件？
  
  - 证件号码
  > 没有做输入限制？可输入非数字内容
  
  - 营业执照
  > 相关输入框为什么置为不可用？
  
  - 实收资本和实收注册资本有何用处？
  
  - 财报类别用处
  
  - 操作日期是否是创建日期
  
  
  
  
  
  
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2018-01-04T08:00:44.122Z"
updatedAt: "2018-01-04T08:45:17.850Z"
