type: "MARKDOWN_NOTE"
folder: "fbea3736624fd5482938"
title: "2017-12-01"
content: '''
  # 2017-12-01
    今天是12月的第一天，天晴。
    继续研究量化投资，经过一段时间研究，找了一些量化的网站玩了一些，摸出一些门道来，反过来思考一下，自己对整个的股票市场了解太有限，很多术语和概念不明所以，想要在这个市场玩得转，看来还是需要下点苦功。
    研究 BigQuant 上的一些教程后，反过来发现需要再学习一些 Python 数据处理的知识，就找 《利用Python进行数据分析》看起来。以前手头上没有数据，学这些工具学完可不知有何用，终究学不好，现在终于找到数据来源了，就又想起来还是得把这个工具练好，好操作这些工具。
    在量化投资的学习路上，停停走走的，进度不快，贵在始终没放弃，期望能走出一条属于自己的道路。现在我对该技能是否能发挥多大作用没有概念，难得有个东西能让我锻炼技术，相信终会看到回报的。
    现在找到的数据源主要是 tushare ， 还有一些其他的网站，先好好研究 tushare， 刚好手里也有一门基于 tushare 讲量化投资的视频教程，先学完这个再学习其他的相信也不晚。
    Good good study， day day up！
'''
tags: []
isStarred: false
createdAt: "2017-12-01T05:41:54.680Z"
updatedAt: "2017-12-01T05:57:11.792Z"
