type: "MARKDOWN_NOTE"
folder: "f70239a7f39d8eb21556"
title: "租赁业务系统"
content: '''
  # 租赁业务系统
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2018-01-03T08:13:35.783Z"
updatedAt: "2018-01-03T08:13:55.822Z"
