type: "MARKDOWN_NOTE"
folder: "3b32cab003a1db861645"
title: "租赁业务问题"
content: '''
  # 租赁业务问题
  
  ## 租金计算问题
  
  1. IRR 计算算法
  
  ## 
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2018-01-05T01:30:17.569Z"
updatedAt: "2018-01-05T01:31:30.544Z"
