type: "MARKDOWN_NOTE"
folder: "f70239a7f39d8eb21556"
title: "第三方 IT 系统相关说明"
content: '''
  # 第三方 IT 系统相关说明
  
  ## 银监相关系统
  > 金融租赁为金融机构，受银监非银处监管，需要定期向银监进行监管报表报送工作，主要包括 1104报表和科技风险报表。
  > 相关报表通过银监提供的 **中国银监会数据采集平台** 进行数据报送，但需要先通过银监提供的VPN客户端连接上其VPN才能使用该平台。
  
  ### 银监会VPN客户端
  该软件为深信服提供的，需要配合银监提供的key使用（为蓝色的小key），主要保管人为计财部李永坤。打开该软件后选择 “二代Key（蓝色）登录”，在 *SSL VPN 地址* 填写 *https://19.100.250.133*; *PIN 码* 参考密码存管档案。
  安装文件：
  
  ### 中国银监会数据采集平台
  粤财金租通过该平台进行 非现场监管报表（1104报表）和科技风险监管报表报送工作， 当前填报人为计财部李永坤，需定期（按日、旬、季和年）进行报送。
  安装文件：
  
  ### 金融互动平台
  
  ## 人行相关系统
  
  ### 人行报送平台
  
  ### 人行大集中报表平台
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2018-01-03T07:43:54.724Z"
updatedAt: "2018-01-03T08:13:24.094Z"
