type: "MARKDOWN_NOTE"
folder: "f70239a7f39d8eb21556"
title: "2017年，在上级部门以及领导的关怀下，我认真执行各项系统运维工作，进一步强化锻炼个人的业务技能，有力地促进各项工作的圆满完成。虽然我进入粤财金融租赁的大家庭仅仅只有四个多月，但在我的积极学习，已切实把握公司相关IT系统的运维工作和其他IT支持工作，有力保障公司IT工作有序进行。现结合本人工作实际，将我在系统运维管理岗下半年来的主要工作总结如下，望各位领导给予审核："
content: '''
  2017年，在上级部门以及领导的关怀下，我认真执行各项系统运维工作，进一步强化锻炼个人的业务技能，有力地促进各项工作的圆满完成。虽然我进入粤财金融租赁的大家庭仅仅只有四个多月，但在我的积极学习，已切实把握公司相关IT系统的运维工作和其他IT支持工作，有力保障公司IT工作有序进行。现结合本人工作实际，将我在系统运维管理岗下半年来的主要工作总结如下，望各位领导给予审核：
  
  为进一步加强我系统运维管理岗的各项工作，提升我系统运维管理岗的各项工作能力。我特切合自身的本职工作，结合我在2017年度的工作实际，认真开展对2017年度的各项工作任务完成情况的分析与总结，并仔细找出工作中所存在的问题，以完成对2018年度工作提出进一步的设想，为本岗位今后的工作打下坚实基础。
  
  一、紧抓业务系统运维质量
  
  作为IT系统运维管理主要负责人，我十分注重系统的运维质量，我相信任何事情都应该从自身做起，只要自己重视生产环境，有强烈的运维保障意思，那么自然对项目组成员形成积极的影响。因此，在日常工作中，我时刻注意系统运行过程中发生的任何问题，定期排查生产隐患，一旦发现问题就即使采取解决措施，避免问题给公司业务造成影响。同时，我也很重视与公司各部门的交流、沟通工作，坚持做好跟各部门的协调、沟通工作。这样一旦出现问题也号从多方面采取应对措施，同时，还可以实现信息共享，保证系统日常运维工作正常，高效运行。
  
  1.完善工作跟进制度
  
  任职以来，我主导项目组建立需求和缺陷跟进制度，将所有的需求和缺陷都登记在册，并坚持每周回顾，确保没有关键工作被遗留，及时更新各项工作进度，对涉及其他部门的工作及时召集相关部门同事进行讨论，确保对关键需求不存在理解偏差。同时，对发现的缺陷快速跟进，及时了解缺陷发生的原因，力求最快拿出缺陷解决方案，避免缺陷影响进一步扩大。
  任职以来，已完成关键需求 34 个， 发现和排解系统重大缺陷 37 个。
  
  
  2.完善版本发布工作
  
  租赁业务系统正式上线后转入日常运维工作，在本人的主导下，完成版本发布正规化，流程化工作；做到固定时间发布，尽量不影响业务系统使用；发布前准备发布操作手册，评审发布内容和操作步骤，将实施风险降到最低；严格要求操作过程中一人发布，一人监控，防止误操作。自日常版本发布制度实施以来，未出现过因发版工作导致系统事故发生，即使出现发版不成功情况，也可迅速恢复发版前环境，未对系统运行造成任何不良影响。现在已做到每周可完成一次版本发布工作，租赁业务系统也在逐次升版工作中更加完善，更加有力支持公司业务开展。
  
  
  3.狠抓生产环境管理
  
  入职后，我立刻开展对生产生产运维工作的问题排查，在排查过程中，发现存在对生产环境不重视，未严控访问人员权限等问题。发现上述问题后，我马上开展处理工作，实施严控生产服务器和数据库操作和访问权限，严禁非授权人员对生产服务器进行访问和操作，对生产服务器和测试服务器做好隔离工作，并实施生产备份工作，实现生产系统不可用时可快速切换到备份系统。
  
  
  二、宣传和办公流程IT化
  
  在业务系统外，同时我对公司的公众号，官网和OA三大系统进行各项改造和维护工作。
  
  1.宣传工作常规化
  本人任职以来，在上级领导的指导下，对公众号成功改版，并做到发布流程化、常规化，建设公司对外宣传形象。同时，官网文章曾存在排版混乱，格式不统一等问题，对公司专业化形象造成不良影响，针对发现的问题，我逐一进行排解，将之前的网站内容重新排版发布。
  截止目前为止，已完成公众号文章发布 57 篇，在集团评比中排名第一。
  
  2.IT支持无纸化办公
  因本公司为初创公司，一开始很多OA制度尚未完善，大量流程选择线下纸质流转，导致每天公司都需要耗费大量的纸张，不符当下提倡的绿色环保概念，我与IT组同事为响应无纸化办公的理念，在上级领导的带领下，对本公司已实施的制度流程进行梳理分析，并在OA上实现。迄今为止，OA已上线流程 18 个，基本涵盖了现在大部分的公司制度流程，方便公司同事线上流程流转，既环保又提高办公效率。
  
  三、其他工作
  
  1.人行大集中报表平台采购
  在10月下旬，人行要求我司从11月开始按人行要求正式上报人行监管报表，届时，针对该需求尚未进行相关的开发和采购事宜，经了解，粤财信托也有使用类似系统，经过多方沟通，并努力争取，最后我与系统供应商以4万5的价格谈妥相关系统的采购，比粤财信托的采购价便宜1万8，为公司成本实现了节省。并在相关采购流程尚未完成之际，争取到厂商提供使用版给我司，帮助我司成功在11月开始正式报送人行监管报表。
  
  2.采购生产服务器
  在根据我司现行的流程制度开发的业务系统移动端App应用开发测试完成，已具备上线部署条件后。我们考虑到移动应用需要接入互联网的特殊性要求，根据监管对于内外网设备隔离等的相关要求，采购两台独立的服务器完成移动端应用的服务部署。部署完成后将可支持同事在公司内外通过手机端APP对我司租赁业务系统进行访问，提高各同事工作效率。
  
  
  三、2018年工作计划
  
  　　2018年，我将在公司领导下，认真贯彻落实控股公司、公司领导班子工作会议精神，将进一步统一思想，坚定信心，聚焦重点，努力完成公司领导下达的各项任务目标。
  
  1.结合IT系统建设规划与业务发展要求，做好系统建设， 积极支持好租赁项目发展。
  
  2.做好生产环境管理，确保系统稳健运行，以防未授权人员访问。
  
  3.做好公司信息安全管理工作，避免被外部恶意攻击导致系统崩溃或信息泄露。
  
  4.结合监管单位对于系统监管方面相关要求的工作，力求各项工作符合监管要求。
  
  5.做好公司电子设备的选型、招标、购置和维护等工作。
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-24T06:57:53.700Z"
updatedAt: "2017-12-25T01:33:10.082Z"
