type: "MARKDOWN_NOTE"
folder: "f5edc18a90cdbf630991"
title: "2017-12-15"
content: '''
  # 2017-12-15
  
  ## 本周工作回顾
  1. 人行大集中报表平台安装
  2. 大集中平台使用学习和培训安排
  3. 微软 Office 软件付款
  4. APP 运行服务器采购
  5. 新版本发布，上载
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-15T08:27:10.943Z"
updatedAt: "2017-12-15T08:31:02.022Z"
