type: "MARKDOWN_NOTE"
folder: "f70239a7f39d8eb21556"
title: "粤财金租OA操作"
content: '''
  # 粤财金租OA操作
  
  ## 1. 在门户网站上设置待办公文
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2018-01-04T01:13:36.194Z"
updatedAt: "2018-01-04T01:17:46.948Z"
