type: "MARKDOWN_NOTE"
folder: "f70239a7f39d8eb21556"
title: "粤财金租OA操作"
content: '''
  # 粤财金租OA操作
  
  ## 1. 在门户网站上设置待办公文
  ![待办公文设置](https://raw.githubusercontent.com/breezescut/zbin/master/Boostnote/Picture/%E8%AE%BE%E7%BD%AE%E5%BE%85%E5%8A%9E%E5%85%AC%E6%96%87.png)
  > 以上设置只影响门户网站，手机端需要控股张云开相应设置，因此每次上载新的流程均需要通知到张云开配合设置。
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2018-01-04T01:13:36.194Z"
updatedAt: "2018-01-04T01:25:40.308Z"
