type: "MARKDOWN_NOTE"
folder: "3b32cab003a1db861645"
title: "租赁项目情况汇总"
content: '''
   # 租赁项目情况汇总
   
   调研系统中各个项目情况，了解各项目特点和资金流状况
   
   ## 
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2018-01-05T01:40:13.195Z"
updatedAt: "2018-01-05T01:41:17.753Z"
