type: "MARKDOWN_NOTE"
folder: "1f0ac33872368efb4f31"
title: "2017-12-13"
content: '''
  # 2017-12-13
  Today I decied to change back to Boostnote, because I found I can't sync my note created by the medleyText through github.
  Althought I like medleyText more, but can't sync is a big problem. 
  Today I fonud a fund tools which can use to do quant, its name is quantOS, I tried, found it is some tools which I had used before, yes, it's really a tools kit. So it's good for me.
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-13T13:31:32.371Z"
updatedAt: "2017-12-13T13:38:07.204Z"
