<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<form action="/form/" method="post" class="smart-green">
    <h1>风控指标值
        <span>请填报{{ month }}指标值信息.</span>
    </h1>
    <label>
        <span>拨备率 :</span>
        <input id="name" type="text" name="name" class="error" placeholder="请输入拨备率"/>
        <div class="error-msg"></div>
    </label>

    <label>
        <span>不良率 :</span>
        <input id="email" type="email" value="" name="email" placeholder="请输入不良率"/>
        <div class="error-msg"></div>
    </label>

    <label>
        <span>不良资产处置回收率 :</span>
        <input id="address" type="text" value="" name="address" placeholder="请输入不良资产处置回收率"/>
        <div class="error-msg"></div>
    </label>

    <label>
        <span>厂商租赁业务 :</span>
        <input id="message" name="message"  placeholder="请输入厂商租赁业务"></input>
        <div class="error-msg"></div>
    </label>

    <label>
        <span>厂商租赁业务 :</span>
        <input id="message" name="message"  placeholder="请输入厂商租赁业务"></input>
        <div class="error-msg"></div>
    </label>

    <label>
        <span>单一股东关联度 :</span>
        <input id="message" name="message"  placeholder="请输入单一股东关联度"></input>
        <div class="error-msg"></div>
    </label>

    <label>
        <span>单一股东关联度 :</span>
        <input id="message" name="message"  placeholder="请输入单一股东关联度"></input>
        <div class="error-msg"></div>
    </label>


    <div class="success-msg"></div>
    <label>
        <span>&nbsp;</span>
        <input type="submit" class="button" value="提交"/>
    </label>
    <input type='hidden' name='csrfmiddlewaretoken' value='SfHkbL4feo1G00sJQtbO7TtLN4c2BUwa' />
</form>
</body>
</html>