type: "MARKDOWN_NOTE"
folder: "c5cfb59d10457d31901e"
title: "量化交易学习心得"
content: '''
  # 量化交易学习心得
  
  ## 学习资源
  - 七月算法在线 量化投资 视频教程
  - 丁鹏 《量化投资策略与技术》
  
  ## 《量化投资策略与技术》 Note
  ### Chapter 1 量化投资概念
  > 量化投资的主要内容包括：量化选股、量化择时、股指期货套利、商品期货套利、统计套利、期权套利、算法交易、ETF/LOF套利、高频交易等
  #### 1.1 什么是量化投资
  ##### 1.1.1 量化投资定义
  - 传统的投资方法主要有基本面分析法和技术分析法两种
  - 量化投资主要依靠数据和模型来寻找投资标的和投资策略
  
  ##### 量化模型
  - 选股模型
  - 行业配置模型
  - 择时模型
  - 交易模型
  - 风险管理模型
  - 资产配置模型
  - 套利模型
  - 对冲模型
  
  #### 1.2 量化投资与传统投资比较
  ##### 1.2.1 传统投资的缺点
  - 传统主动性投资策略受到人类思维可以处理的信息量的限制
  - 传统主动性投资策略容易受到认知偏差的影响
  - 传统主动性投资策略更强调收益率而不是风险控制，更加偏重个股挖掘而不是投资组合构造
  
  ##### 1.2.2 量化投资策略的优势
  - 纪律性
      > 量化投资作为一种定性思想的理性应用，客观地在组合中去体现这样的组合思维。一个好的投资方法应该是一个透明的盒子，而不是黑盒子。每一个决策都是有理有据的，无论是股票的选择、行业选择，还是大类资产的配置等，都是有数据支持、模型支持和实证校验的。
  - 系统性
      > 量化投资的系统性特征主要包括多层次的量化模型、多角度的观察及海量数据的观察等。多层次模型主要包括大类资产配置模型、行业选择模型、精选个股模型等。多角度观察主要包括对宏观周期、市场结构、估值、成长、盈利质量、分析师盈利预测、市场情绪等多个角度的分析。
  - 及时性
  - 准确性
      > 准确客观评价交易机会，克服主管情绪偏差，妥善运用套利的思想。量化投资正式在找估值洼地，通过全面、系统性的扫描，捕捉错误定价、错误估值带来的机会。
  - 分散化
  
  #### 1.3 量化投资历史
  Columbine 公司量化模型评级系统构建
  - 因子选取
      > 量化投资模型的构建是基于各种收益和风险因子的定义和选择
  - 模型评级
      > 量化模型一般讲股票池中的股票分为10个等级，分别标记为 1~10 ，1 表示最好，10 表示最差， 再根据模型分级的高低做出“买入”、“中性”或者“卖出”评级
  
  #### 1.4 量化投资主要内容
  1. 量化选股
      量化选股主要分为：公司估值法、趋势法和资金法
      - 公司估值法是基本面分析，通过比较公司估值方法得出的公司理论股票价格与市场价格的差异，判断股票的市场价格是否被高估或者低估，从而寻找出价值被低估或价值被高估的而股票，指导投资者具体投资行为。
      - 趋势法就是根据市场表现，强势、弱势、盘整等不同的形态，做出对应的投资行为的方法。
      - 资金法是追随市场主力资金的方向，也可以通过持仓筹码的分部来判断在未来一段时间骨架的上涨和下跌情况，本质上是一种跟风策略，追随主流热点。
  2. 量化择时
      中国股票市场的股票价格时间序列并非序列无关，而是序列相关的，
  3. 
  
  
  
  
  
  
  
  
  
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-20T03:05:48.601Z"
updatedAt: "2017-12-20T03:05:52.825Z"
