type: "SNIPPET_NOTE"
folder: "49ebaa35ea0ab72c4315"
title: "量化投资"
description: "量化投资"
snippets: [
  {
    name: ""
    mode: "text"
    content: "萨达撒多"
  }
]
tags: []
isStarred: false
createdAt: "2017-11-30T06:48:18.237Z"
updatedAt: "2017-11-30T07:24:19.039Z"
