type: "SNIPPET_NOTE"
folder: "49ebaa35ea0ab72c4315"
title: "Python 代码片段"
description: "Python 代码片段"
snippets: [
  {
    name: "Ftp usage"
    mode: "Python"
    content: '''
      from ftplib import FTP
      
      
    '''
  }
]
tags: []
isStarred: false
createdAt: "2017-11-30T07:23:33.786Z"
updatedAt: "2017-11-30T07:35:36.253Z"
