type: "MARKDOWN_NOTE"
folder: "59e351d552fe162998f3"
title: "学习杂记"
content: '''
  # 学习杂记
  
  ## 2017-12-19
  从知网上下载了一批文献，包括论文和期刊文章，准备研读一番。
  IOT 分为三层：感知层、网络层和应用层。 因此，厂商现在做 IOT 有两个出发点， 一个是从感知层出发先完成终端设备的升级并完成终端的 M2M ，在此基础上再发展终端连入云平台实现IOT；另一个方向是云平台
  
  
  ## 2018-01-05
  在 SoKindle 上下载了一些书，有关于历史的，有关于量化投资的，还有技术的，横跨多个领域，但每次都要坚持同一时间只处理一个方向的学习。
  昨天经过思考，不能落下对租赁业务的学习，虽然之前没有
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-20T03:08:17.550Z"
updatedAt: "2018-01-05T01:25:02.995Z"
